* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #F8F8F8; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

.wrapper {
  display: flex;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto; }

html {
  font-size: 62.5%; }

body {
  color: #3D3D3D;
  font-family: sans-serif;
  font-size: 1.6rem; }

.social a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase; }
  .social a:not(:last-child) {
    margin-right: 2.5rem; }

.hero {
  color: #fff; }
  .hero--heading {
    font-size: 8.4rem;
    margin-bottom: 4rem;
    font-weight: 300;
    position: relative;
    padding-left: 4rem; }
    .hero--heading::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 2rem;
      background-color: #2896DF; }
  .hero--p {
    font-size: 3.2rem;
    font-weight: lighter;
    margin-bottom: 4rem; }

.about p {
  line-height: 1.4; }
  .about p:not(:last-child) {
    margin-bottom: 4.5rem; }

.about .name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #00214B;
  margin-bottom: 1.5rem; }

.about .title {
  color: #2896DF;
  text-transform: uppercase;
  margin-bottom: 3.6rem; }

.about .slider--text {
  font-size: 1.4rem;
  line-height: 1.7; }

.info {
  color: #fff; }
  .info h2 {
    line-height: 1.5; }

.cta {
  display: inline-block;
  background-color: #fff;
  color: #2896DF;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .cta::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #2896DF;
    z-index: -1;
    transform: translateY(100%);
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .cta:hover {
    color: #fff; }
    .cta:hover::after {
      transform: translateY(0%); }

.btn {
  background-color: #00214B;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  outline-width: 0;
  text-transform: uppercase;
  width: 80%; }

.btn-arrow {
  background-color: transparent;
  color: #2896DF;
  cursor: pointer;
  border: none;
  display: inline-block;
  font-size: 2rem;
  outline-width: 0;
  padding: 1rem; }
  .btn-arrow:active {
    transform: scale(0.9); }

.about .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.7rem; }
  .about .slider__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .about .slider__img {
    height: 100%;
    width: 30%; }
    .about .slider__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .about .slider__content {
    width: 70%;
    padding-left: 5rem; }

.info__slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }
  .info__slider--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .info__slider__bottom {
    background-color: #fff;
    padding: 5rem 0rem;
    color: #3D3D3D;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .info__slider__bottom__left {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .info__slider__bottom__left .buttons {
        margin-right: 10rem; }
  .info__slider__img {
    width: 50%; }
  .info__slider__description {
    width: 50%;
    padding: 5rem;
    background-color: #F8F8F8;
    color: #3D3D3D; }
    .info__slider__description ul {
      margin-top: 5rem; }
    .info__slider__description li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .info__slider__description li:not(:last-child) {
        margin-bottom: 2rem; }
      .info__slider__description li svg {
        margin-right: 1.2rem; }

.termin .form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3.5rem; }
  .termin .form input[type="text"],
  .termin .form input[type="email"],
  .termin .form input[type="tel"],
  .termin .form input[type="date"] {
    background-color: transparent;
    border: none;
    border: 0.1rem solid #3D3D3D;
    margin-bottom: 1.6rem;
    outline-width: 0;
    height: 5rem;
    padding: 0rem 1rem;
    transition: all .3s ease; }
    .termin .form input[type="text"]:focus,
    .termin .form input[type="email"]:focus,
    .termin .form input[type="tel"]:focus,
    .termin .form input[type="date"]:focus {
      border: 0.2rem solid #3D3D3D; }

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%; }

.header .grid {
  justify-content: center; }
  .header .grid__item {
    height: 100%;
    width: 100%; }
    .header .grid__item--1 {
      grid-column: 1 / 2; }
    .header .grid__item--2 {
      grid-column: 3 / 4;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .grid__item--2 a {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        border-radius: 10rem; }
        .header .grid__item--2 a span {
          display: inline-block;
          padding-left: .5rem; }
    .header .grid__item--3 {
      grid-column: 16 / -1;
      display: flex;
      align-items: center;
      justify-content: center; }

.hero .grid {
  position: relative;
  z-index: 4; }

.hero .grid__item--1 {
  grid-column: 3 / -1; }

.about {
  grid-template-rows: repeat(5, auto); }
  .about .grid {
    position: relative;
    z-index: 2; }
  .about .grid__item--1 {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    margin-bottom: 10rem;
    padding-top: 10rem; }
  .about .grid__item--2 {
    grid-column: 4 / 9;
    grid-row: 2 / 3; }
  .about .grid__item--3 {
    grid-column: 10 / 16;
    grid-row: 2 / 3;
    z-index: 2; }
  .about .grid__item--4 {
    grid-column: 3 / 9;
    grid-row: 3 / 4;
    margin-top: 10rem;
    padding-bottom: 10rem; }
  .about .grid__item--5 {
    grid-column: 3 / 13;
    grid-row: 4 / 5;
    padding-bottom: 10rem; }
  .about .grid__item--6 {
    grid-column: 2 / 14;
    grid-row: 1 / 6;
    z-index: -1; }

.map .grid {
  grid-template-rows: repeat(5, auto); }
  .map .grid__item:not(:last-child) {
    margin-bottom: 3.5rem; }
  .map .grid__item--1 {
    grid-column: 3 / 6;
    grid-row: 1 / 2; }
  .map .grid__item--2 {
    grid-column: 4 / 10;
    grid-row: 2 / 3; }
  .map .grid__item--3 {
    grid-column: 3 / 7;
    grid-row: 3 / 4; }
  .map .grid__item--4 {
    grid-column: 4 / 10;
    grid-row: 4 / 5; }
  .map .grid__item--5 {
    grid-column: 1 / 17;
    grid-row: 5 / 6;
    position: relative;
    overflow: hidden; }
    .map .grid__item--5::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2); }

.info .grid {
  grid-template-rows: 10rem 16rem 19rem 8.5rem 20rem 13rem auto 30rem 30rem;
  gap: 1.5rem; }
  .info .grid__item {
    overflow: hidden; }
    .info .grid__item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .3s ease; }
    .info .grid__item:hover > img {
      transform: scale(1.2); }
    .info .grid__item--1 {
      grid-column: 1 / 17;
      grid-row: 1 / 9;
      background-color: #00214B; }
    .info .grid__item--2 {
      grid-column: 1 / 4;
      grid-row: 2 / 5; }
    .info .grid__item--3 {
      grid-column: 4 / 6;
      grid-row: 3 / 4; }
    .info .grid__item--4 {
      grid-column: 2 / 4;
      grid-row: 5 / 6; }
    .info .grid__item--5 {
      grid-column: 4 / 7;
      grid-row: 4 / 7; }
    .info .grid__item--6 {
      grid-column: 7 / 16;
      grid-row: 2 / 3; }
    .info .grid__item--7 {
      grid-column: 8 / 15;
      grid-row: 3 / 7; }
    .info .grid__item--8 {
      grid-column: 1 / 17;
      grid-row: 7 / 8;
      text-align: center;
      padding: 5rem 0rem; }
    .info .grid__item--9 {
      grid-column: 2 / 16;
      grid-row: 8 / 10; }

.info-dot {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border: 0.2rem solid #2896DF;
  border-radius: 10rem;
  cursor: pointer; }
  .info-dot:not(:last-child) {
    margin-right: .4rem; }

/*.slider-section {
    .slider__container {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 10rem 10rem auto 10rem 10rem;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        & .img-top {
            grid-column: 1 / 10;
            grid-row: 2 / 6;
            position: relative;
            z-index: 2;
        }

        & .img-bottom {
            grid-column: 2 / 12;
            grid-row: 1 / 7;
            position: relative;
            z-index: 1;
        }

        & .description {
            grid-column: 8 / 17;
            grid-row: 3 / 4;
            background-color: $white;
            position: relative;
            z-index: 3;
        }
    }
}*/
.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  width: 100%; }
  .header .menu {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }
    .header .menu__line {
      background-color: #2896DF;
      height: .2rem;
      width: 2rem; }
      .header .menu__line:not(:last-child) {
        margin-bottom: .5rem; }
  .header .social {
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }

.nav {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 5;
  background-color: #fff;
  height: 100%;
  width: 56rem;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(-100%); }
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    height: 100%;
    padding: 10rem 0rem 10rem 10rem; }
  .nav li {
    list-style: none;
    position: relative;
    overflow: hidden; }
    .nav li::after {
      content: '';
      position: absolute;
      left: 0%;
      top: 50%;
      z-index: -1;
      transform: translate(-100%, -50%);
      height: .5rem;
      width: 100%;
      background-color: #2896DF;
      transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
    .nav li:hover::after {
      transform: translate(0%, -50%); }
  .nav a {
    display: inline-block;
    color: #3D3D3D;
    font-size: 3.2rem;
    text-decoration: none; }
  .nav--open {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }

.hero {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }
  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero .video {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; }
  .hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, #00559f, rgba(0, 85, 159, 0));
    z-index: -1; }
  .hero .wrapper {
    height: 100%;
    justify-content: flex-start;
    align-items: center; }
  .hero .large-logo {
    position: absolute;
    top: 0%;
    right: 0%;
    user-select: none;
    z-index: 1; }

.about {
  position: relative;
  z-index: 1; }
  .about .atr,
  .about .abr {
    position: absolute; }
  .about .atr {
    top: 5rem;
    right: 0rem;
    height: 27.8rem;
    width: 20rem; }
  .about .abr {
    top: 90rem;
    right: 6.5rem;
    height: 37rem;
    width: 37rem;
    z-index: 1; }
  .about__bg {
    background-color: #fff; }
  .about__content {
    position: relative;
    padding-left: 2rem; }
    .about__content::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: .1rem;
      background-color: #2896DF; }
  .about img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .about__img {
    margin-top: -10rem;
    z-index: -1;
    position: relative; }

.map {
  margin-top: -10rem;
  padding-top: 20rem;
  position: relative;
  overflow: hidden;
  background-color: #fff; }
  .map__img {
    position: absolute;
    top: -35%;
    right: -25%;
    z-index: -1;
    transform: translateX(50%); }

.info {
  background-color: #fff; }
  .info ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%; }
  .info li {
    list-style: none; }

.slider-section {
  background-color: #F8F8F8;
  padding: 10rem 0rem;
  height: 100%; }

.termin {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 6;
  background-color: rgba(0, 33, 75, 0.8);
  display: none;
  justify-content: center;
  align-items: center; }
  .termin__container {
    width: 56.5rem;
    height: 80%;
    background-color: #fff;
    padding: 2.5rem 7.5rem;
    position: relative; }
  .termin .close {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #F8F8F8;
    font-size: 2.4rem;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .termin--open {
    display: flex; }
