@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 0.5; }
  100% {
    transform: scale(1.08);
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.fade {
  animation: fade 1s ease; }

@keyframes from-top {
  from {
    opacity: 0;
    transform: translateY(-25px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

.animation-from-top {
  animation: from-top .5s ease-in;
  animation-fill-mode: forwards;
  animation-play-state: running;
  opacity: 0;
  transform: translateY(-25px); }
  .animation-from-top--2 {
    animation-delay: .3s; }
  .animation-from-top--3 {
    animation-delay: .6s; }
  .animation-from-top--4 {
    animation-delay: .9s; }
  .animation-from-top--5 {
    animation-delay: 0.1 0.2s; }

@keyframes address-animation {
  from {
    transform: translateY(50px);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

.address {
  animation: address-animation .5s ease-in; }

@keyframes termin {
  from {
    transform: translateY(-30rem); }
  to {
    transform: translateY(0rem); } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #F8F8F8;
  position: relative; }

.overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 33, 75, 0.85);
  z-index: 15;
  visibility: hidden; }

.loader {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #2896DF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 1s ease-in-out; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

.wrapper {
  display: flex;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 55%; } }

body {
  color: #3D3D3D;
  font-family: sans-serif;
  font-size: 1.6rem; }

.loader--text {
  color: #fff;
  font-size: 3.2rem;
  text-transform: capitalize;
  animation: loader 1s infinite ease; }

.social a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase; }
  .social a:not(:last-child) {
    margin-right: 2.5rem; }

.social {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 10rem;
  text-decoration: none; }
  .social span {
    display: inline-block;
    padding-left: .5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .social:not(:last-child) {
    margin-right: 1.5rem; }

.hero {
  color: #fff; }
  .hero--heading {
    font-size: 8.4rem;
    margin-bottom: 4rem;
    font-weight: 300;
    position: relative;
    padding-left: 4rem; }
    .hero--heading::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 2rem;
      background-color: #2896DF; }
  .hero--p {
    font-size: 3.2rem;
    font-weight: lighter;
    margin-bottom: 4rem; }
  .hero--animation {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease-in-out; }

.about p {
  line-height: 1.4; }
  .about p:not(:last-child) {
    margin-bottom: 4.5rem; }

.about .name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #00214B;
  margin-bottom: 1.5rem; }

.about .title {
  color: #2896DF;
  text-transform: uppercase;
  margin-bottom: 3.6rem; }

.about .slider--text {
  font-size: 1.4rem;
  line-height: 1.7; }

.about__content--text {
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s ease-in-out; }

.map--text {
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s ease-in-out; }

.map p {
  font-size: 1.8rem;
  line-height: 1.6; }

.info {
  color: #fff; }
  .info h2 {
    line-height: 1.5; }
  .info__slider--text {
    font-size: 1.6rem;
    line-height: 1.5; }

.description h5 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #00214B;
  margin-bottom: 5rem; }

.description p {
  font-size: 1.4rem;
  line-height: 1.7; }
  .description p:not(:last-child) {
    margin-bottom: 3.5rem; }

.text--small {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2; }

.referenzen__box__info .name {
  color: #00559F;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: capitalize;
  margin-bottom: .5rem; }

.referenzen__box__info .city {
  color: #2896DF;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase; }

.newsletter {
  color: #fff; }
  .newsletter h1 {
    font-size: 8.4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5rem;
    position: relative;
    padding-left: 4rem; }
    .newsletter h1::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 2rem;
      background-color: #2896DF; }
  .newsletter p {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.25rem; }
  .newsletter small {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase; }
  .newsletter--animated--text {
    opacity: 0;
    transform: translateY(35px);
    transition: all .15s ease-in-out; }

.mail {
  color: #fff;
  display: inline-block;
  text-decoration: none; }

.footer__bottom {
  color: #3D3D3D; }
  .footer__bottom small,
  .footer__bottom p,
  .footer__bottom a {
    color: #3D3D3D; }
  .footer__bottom p {
    text-transform: capitalize; }
    .footer__bottom p:hover a {
      color: #fff; }
    .footer__bottom p a {
      text-decoration: none;
      transition: all .3s ease; }

.footer__info--text {
  color: #fff; }
  .footer__info--text svg {
    margin-right: .8rem; }

.footer__text {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3; }
  .footer__text p:not(:last-child) {
    margin-bottom: 1.6rem; }

.termin--heading {
  color: #3D3D3D;
  font-size: 3.4rem;
  line-height: 1.5;
  margin-bottom: 3rem; }

.termin--paragraph {
  color: #3D3D3D;
  font-size: 1.8rem;
  line-height: 1.6; }

.cta {
  display: inline-block;
  background-color: #fff;
  color: #2896DF;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .cta::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #2896DF;
    z-index: -1;
    transform: translateY(100%);
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
  .cta:hover {
    color: #fff; }
    .cta:hover::after {
      transform: translateY(0%); }

.btn, .btn--full {
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  outline-width: 0;
  text-transform: uppercase;
  background-color: #fff; }
  .btn--full {
    background-color: #00214B; }
  .btn--grey {
    background-color: #F8F8F8; }
  .btn img, .btn--full img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-arrow {
  background-color: transparent;
  color: #2896DF;
  cursor: pointer;
  border: none;
  display: inline-block;
  font-size: 2rem;
  outline-width: 0;
  padding: 1rem; }
  .btn-arrow:active {
    transform: scale(0.9); }

.info--btn {
  background-color: transparent;
  border: none;
  color: #2896DF;
  cursor: pointer;
  height: 36px;
  outline-width: 0;
  margin-right: 1.5rem;
  user-select: none; }

.about__slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10rem; }
  @media only screen and (max-width: 1200px) {
    .about__slider__container {
      flex-direction: column; } }
  .about__slider__container__img {
    width: 30%;
    height: 35rem;
    position: relative; }
    .about__slider__container__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 1200px) {
      .about__slider__container__img {
        width: 50%;
        margin: 0% auto;
        display: flex;
        justify-content: flex-start; } }
    .about__slider__container__img .img {
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      z-index: 2; }
      .about__slider__container__img .img ~ .inactive {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(0.8);
        height: 100%;
        z-index: 1;
        margin-right: -13rem; }
        .about__slider__container__img .img ~ .inactive::after {
          content: '';
          position: absolute;
          top: 0%;
          right: 0%;
          bottom: 0%;
          left: 0%;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 33, 75, 0.9);
          z-index: 2; }
    .about__slider__container__img img {
      z-index: 2;
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: relative; }
  .about__slider__container__content {
    width: 70%;
    padding-left: 15rem; }
    @media only screen and (max-width: 1200px) {
      .about__slider__container__content {
        width: 100%;
        padding-left: 0rem;
        margin-top: 3.5rem; } }
    .about__slider__container__content .content:last-child {
      display: none; }

.about .controls {
  display: inline-flex;
  position: absolute;
  bottom: -12%;
  left: 0%; }

.info__slider__container {
  position: relative; }

.info__slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }
  .info__slider__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px; }
    @media only screen and (max-width: 1200px) {
      .info__slider__top {
        height: 350px; } }
    @media only screen and (max-width: 1200px) {
      .info__slider__top {
        flex-direction: column; } }
  .info__slider__img, .info__slider__description {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 1200px) {
      .info__slider__img, .info__slider__description {
        width: 100%; } }
  .info__slider__img {
    background-color: #fff; }
    .info__slider__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .info__slider__description {
    padding: 5rem;
    background-color: #F8F8F8;
    color: #3D3D3D;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    .info__slider__description ul {
      margin-top: 3.6rem; }
      .info__slider__description ul li {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .info__slider__description ul li:not(:last-child) {
          margin-bottom: 1.6rem; }
        .info__slider__description ul li img {
          display: inline-block;
          height: 24px;
          width: 24px;
          margin-right: 1.2rem; }
  .info__slider__bottom {
    padding: 3.5rem 0rem;
    color: #3D3D3D;
    margin-left: 20rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    user-select: none; }
  .info__slider__controls {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .info__slider__controls .dot__container {
      user-select: none; }
      .info__slider__controls .dot__container .info--dot {
        display: inline-block;
        height: 1rem;
        width: 1rem;
        border: 0.2rem solid #2896DF;
        border-radius: 50%;
        cursor: pointer; }
        .info__slider__controls .dot__container .info--dot:not(:last-child) {
          margin-right: .5rem; }
        .info__slider__controls .dot__container .info--dot--active {
          width: 2.5rem;
          border-radius: 1rem; }

.slider__dot {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 0.2rem solid #2896DF;
  border-radius: 50%;
  cursor: pointer; }
  .slider__dot:not(:last-child) {
    margin-right: .5rem; }
  .slider__dot--active {
    width: 2.5rem;
    border-radius: 1rem; }

.footer {
  background-image: url(../../images/footer-bg.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .footer::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75); }
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10rem; }
    @media only screen and (max-width: 1200px) {
      .footer__top {
        align-items: flex-start;
        flex-direction: column; } }
    .footer__top--left, .footer__top--right {
      width: 50%; }
      @media only screen and (max-width: 1200px) {
        .footer__top--left, .footer__top--right {
          width: 100%; } }
    .footer__top--left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      @media only screen and (max-width: 1200px) {
        .footer__top--left {
          padding-bottom: 5rem; } }
    .footer__top--right {
      display: flex;
      justify-content: flex-end; }
      @media only screen and (max-width: 1200px) {
        .footer__top--right {
          justify-content: start; } }
  .footer__links {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3.6rem; }
    .footer__links a {
      display: inline-block; }
      .footer__links a:not(:last-child) {
        margin-right: 2.5rem; }
  .footer__mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5rem 0rem; }
    @media only screen and (max-width: 1200px) {
      .footer__mid {
        align-items: flex-start;
        flex-direction: column; } }
  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 1200px) {
      .footer__info {
        flex-direction: column;
        align-items: flex-start; } }
    .footer__info p,
    .footer__info a {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 1200px) {
        .footer__info p,
        .footer__info a {
          margin-bottom: 2rem; } }
      .footer__info p img,
      .footer__info a img {
        height: 1.8rem;
        width: 2rem;
        fill: #2896DF;
        margin-right: 1.2rem; }
    .footer__info p {
      margin-right: 1.2rem; }
  .footer__bottom {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0rem;
    color: #fff;
    font-weight: 300; }
  .footer__social {
    display: flex; }

.termin__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3.5rem; }
  .termin__form input[type="text"],
  .termin__form input[type="email"],
  .termin__form input[type="tel"],
  .termin__form input[type="date"] {
    background-color: transparent;
    border: none;
    border: 0.1rem solid #3D3D3D;
    margin-bottom: 2rem;
    outline-width: 0;
    height: 5rem;
    padding: 0rem 1rem; }
    .termin__form input[type="text"]:focus,
    .termin__form input[type="email"]:focus,
    .termin__form input[type="tel"]:focus,
    .termin__form input[type="date"]:focus {
      border: 0.2rem solid #3D3D3D; }

.newsletter-form {
  margin-top: 6.5rem;
  display: flex; }
  .newsletter-form input[type="email"] {
    background-color: transparent;
    border: none;
    border: 0.1rem solid #fff;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    height: 6rem;
    letter-spacing: .1rem;
    outline-width: 0rem;
    padding: 1.6rem;
    width: 39.5rem; }
    .newsletter-form input[type="email"]::placeholder {
      color: #fff; }
  .newsletter-form button {
    background-color: #fff;
    border: none;
    color: #2896DF;
    cursor: pointer;
    height: 6rem;
    outline-width: 0rem;
    padding: 1.6rem;
    width: 8.8rem; }

.footer__form {
  width: 90%; }
  @media only screen and (max-width: 1200px) {
    .footer__form {
      width: 70%; } }
  .footer__form--top, .footer__form--mid, .footer__form--bottom {
    display: flex;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 1200px) {
      .footer__form--top, .footer__form--mid, .footer__form--bottom {
        width: 100%; } }
  .footer__form input[type="text"],
  .footer__form input[type="email"],
  .footer__form input[type="tel"] {
    background-color: transparent;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 1.6rem;
    outline-width: 0;
    width: 50%; }
    .footer__form input[type="text"]:not(:last-child),
    .footer__form input[type="email"]:not(:last-child),
    .footer__form input[type="tel"]:not(:last-child) {
      margin-right: 1rem; }
  .footer__form textarea {
    background-color: transparent;
    border: none;
    border: 0.1rem solid #fff;
    color: #fff;
    outline-width: 0;
    width: 80%;
    height: 10rem;
    padding: 1.6rem; }
  .footer__form button {
    background-color: #fff;
    color: #2896DF;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
    outline-width: 0;
    text-transform: uppercase;
    width: 20%; }
  .footer__form ::placeholder {
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif; }

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .grid {
      background-color: lightblue; } }
  @media only screen and (max-width: 768px) {
    .grid {
      background-color: orangered; } }
  @media only screen and (max-width: 480px) {
    .grid {
      background-color: green; } }

.header .grid {
  justify-content: center; }
  .header .grid__item {
    height: 100%;
    width: 100%; }
    .header .grid__item--1 {
      grid-column: 1 / 2; }
    .header .grid__item--2 {
      grid-column: 3 / 4;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header .grid__item--3 {
      grid-column: 14 / -1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2.5rem; }
      .header .grid__item--3 a {
        display: inline-block; }
        .header .grid__item--3 a:not(:last-child) {
          margin-right: 2.5rem; }

.hero .grid {
  position: relative;
  z-index: 4; }

.hero .grid__item--1 {
  grid-column: 3 / -1; }

.about {
  grid-template-rows: repeat(5, auto); }
  @media only screen and (max-width: 1200px) {
    .about {
      grid-template-rows: auto, auto, 35rem, auto, auto, auto; } }
  .about .grid {
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 1200px) {
      .about .grid {
        text-align: justify; } }
  .about .grid__item--1 {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    margin-bottom: 10rem;
    padding-top: 15.5rem; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--1 {
        grid-column: 3 / 15; } }
  .about .grid__item--2 {
    grid-column: 4 / 9;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--2 {
        grid-column: 3 / 15;
        padding-bottom: 5rem; } }
  .about .grid__item--3 {
    grid-column: 10 / 16;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--3 {
        grid-column: 2 / 16;
        grid-row: 3 / 4;
        height: 50rem; } }
    .about .grid__item--3 img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .about .grid__item--4 {
    grid-column: 3 / 15;
    grid-row: 3 / 4;
    margin-top: 10rem;
    padding-bottom: 10rem; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--4 {
        grid-column: 3 / 15;
        grid-row: 4 / 5; } }
  .about .grid__item--5 {
    grid-column: 3 / 13;
    grid-row: 4 / 5;
    padding-bottom: 10rem; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--5 {
        grid-column: 3 / 15;
        padding-right: 2.5rem;
        grid-row: 5 / 6; } }
  .about .grid__item--6 {
    grid-column: 2 / 14;
    grid-row: 1 / 6;
    z-index: -1; }
    @media only screen and (max-width: 1200px) {
      .about .grid__item--6 {
        grid-column: 2 / 16; } }

.map .grid {
  grid-template-rows: repeat(5, auto); }
  .map .grid__item:not(:last-child) {
    margin-bottom: 3.5rem; }
  .map .grid__item--1 {
    grid-column: 3 / 6;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 1200px) {
      .map .grid__item--1 {
        grid-column: 2 / 5; } }
  .map .grid__item--2 {
    grid-column: 4 / 10;
    grid-row: 2 / 3; }
    @media only screen and (max-width: 1200px) {
      .map .grid__item--2 {
        grid-column: 3 / 11; } }
  .map .grid__item--3 {
    grid-column: 3 / 7;
    grid-row: 3 / 4; }
    @media only screen and (max-width: 1200px) {
      .map .grid__item--3 {
        grid-column: 2 / 9; } }
  .map .grid__item--4 {
    grid-column: 4 / 10;
    grid-row: 4 / 5; }
    @media only screen and (max-width: 1200px) {
      .map .grid__item--4 {
        grid-column: 3 / 11; } }
  .map .grid__item--5 {
    grid-column: 1 / 17;
    grid-row: 5 / 6;
    position: relative;
    overflow: hidden; }
    .map .grid__item--5::after {
      content: '';
      position: absolute;
      left: 0%;
      bottom: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2); }

.info .grid {
  grid-template-rows: 10rem 16rem 19rem 8.5rem 20rem 13rem auto 30rem 30rem;
  gap: 1.5rem;
  padding-bottom: 10rem; }
  .info .grid__item {
    overflow: hidden; }
    .info .grid__item:hover > img {
      transform: scale(1.2); }
    .info .grid__item--1 {
      grid-column: 1 / 17;
      grid-row: 1 / 9;
      background-color: #00214B; }
    .info .grid__item--2 {
      grid-column: 1 / 4;
      grid-row: 2 / 5; }
    .info .grid__item--3 {
      grid-column: 4 / 6;
      grid-row: 3 / 4; }
    .info .grid__item--4 {
      grid-column: 2 / 4;
      grid-row: 5 / 6; }
    .info .grid__item--5 {
      grid-column: 4 / 7;
      grid-row: 4 / 7; }
    .info .grid__item--2 img, .info .grid__item--3 img, .info .grid__item--4 img, .info .grid__item--5 img {
      transition: all .3s ease-in-out; }
    .info .grid__item--6 {
      grid-column: 7 / 16;
      grid-row: 2 / 3; }
    .info .grid__item--7 {
      grid-column: 8 / 15;
      grid-row: 3 / 7; }
    .info .grid__item--8 {
      grid-column: 1 / 17;
      grid-row: 7 / 8;
      text-align: center;
      padding: 5rem 0rem; }
    .info .grid__item--9 {
      grid-column: 2 / 16;
      grid-row: 8 / 10; }

.info-dot {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border: 0.2rem solid #2896DF;
  border-radius: 10rem;
  cursor: pointer; }
  .info-dot:not(:last-child) {
    margin-right: .4rem; }

.newsletter .grid__item {
  grid-column: 3 / 17;
  z-index: 2; }
  @media only screen and (max-width: 1200px) {
    .newsletter .grid__item {
      grid-column: 2 / 16; } }

.footer .grid {
  position: relative;
  z-index: 2; }
  .footer .grid__item {
    grid-column: 3 / 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 1200px) {
      .footer .grid__item {
        grid-column: 2 / 16; } }

.footer__bottom .grid__item {
  grid-column: 3 / 15;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .footer__bottom .grid__item {
      grid-column: 2 / 16; } }

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 88;
  height: 6rem;
  width: 100%;
  transition: all .3s ease-in-out;
  background-color: transparent;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center; }
  .header--fixed {
    background-color: #2896DF;
    position: fixed;
    transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53); }
  .header .menu {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    position: absolute;
    top: 0%;
    left: 0%; }
    .header .menu__line {
      background-color: #2896DF;
      height: .2rem;
      width: 2rem;
      transition: all .3s ease-in-out; }
      .header .menu__line--top--open, .header .menu__line--mid--open, .header .menu__line--bottom--open {
        transition: all .3s ease-in-out; }
      .header .menu__line--top--open {
        transform: rotate(45deg) translateX(0.2rem) translateY(0.4rem); }
      .header .menu__line--mid--open {
        opacity: 0; }
      .header .menu__line--bottom--open {
        transform: rotate(-45deg) translateX(0.5rem) translateY(-0.8rem); }
      .header .menu__line:not(:last-child) {
        margin-bottom: .5rem; }
  .header .social {
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }

.nav {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 5;
  background-color: #fff;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translateX(-100%);
  z-index: 89;
  display: inline-block;
  padding: 10rem 15rem; }
  @media only screen and (max-width: 1200px) {
    .nav {
      padding: 10rem 10rem; } }
  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 100%; }
  .nav li {
    list-style: none;
    position: relative;
    overflow: hidden; }
    .nav li::after {
      content: '';
      position: absolute;
      left: 0%;
      top: 50%;
      z-index: -1;
      transform: translate(-100%, -50%);
      height: .5rem;
      width: 100%;
      background-color: #2896DF;
      transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
    .nav li:hover::after {
      transform: translate(0%, -50%); }
  .nav a {
    display: inline-block;
    color: #3D3D3D;
    font-size: 3.2rem;
    text-decoration: none; }
  .nav--open {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715); }

.hero {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 36% 100%, 0 95%); }
  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero .video {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /*@media only screen and(max-width: 1800px) and (min-width: 1500px) {
            display: none;
        }  */ }
  .hero::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, #00559f, rgba(0, 85, 159, 0));
    z-index: -1; }
  .hero .wrapper {
    height: 100%;
    justify-content: flex-start;
    align-items: center; }
  .hero .large-logo {
    position: absolute;
    top: 0%;
    right: 0%;
    user-select: none;
    z-index: 1; }

.about {
  position: relative;
  z-index: 3;
  margin-top: -5.5rem; }
  .about .atr,
  .about .abr,
  .about .alc {
    position: absolute; }
    @media only screen and (max-width: 1200px) {
      .about .atr,
      .about .abr,
      .about .alc {
        display: none; } }
  .about .atr {
    top: 5rem;
    right: 0rem;
    height: 27.8rem;
    width: 20rem; }
  .about .abr {
    top: 35%;
    right: 8%;
    height: 37rem;
    width: 37rem;
    z-index: 3; }
  .about .alc {
    top: 50%;
    left: 0%;
    width: 20rem;
    height: 15rem;
    z-index: 3; }
  .about__bg {
    background-color: #fff; }
  .about--img {
    opacity: 0;
    transition: all .5s ease-in-out; }
  .about__img {
    background-image: url(../../images/about-bg.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 36% 100%, 0 95%); }

.map {
  margin-top: -10rem;
  padding-top: 20rem;
  position: relative;
  overflow: hidden;
  background-color: #fff; }
  .map__img {
    position: absolute;
    top: -35%;
    right: -25%;
    z-index: 1;
    transform: translateX(50%); }
    @media only screen and (max-width: 1200px) {
      .map__img {
        top: -19%;
        right: -16%; } }

.info {
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .info .iml,
  .info .imr {
    position: absolute;
    top: 38%;
    z-index: 6; }
  .info .iml {
    left: -2%;
    height: 15rem;
    width: 37rem; }
  .info .imr {
    right: 0%;
    height: 37rem;
    width: 37rem; }
  .info--list {
    height: 100%; }
  .info ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .info li {
    list-style: none; }
  .info--list--item {
    opacity: 0;
    transform: translateY(-25px);
    transition: all .3s ease-in-out; }

.slider-section {
  background-color: #F8F8F8;
  padding: 10rem 0rem;
  position: relative; }
  .slider-section .wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    cursor: grab; }
    @media only screen and (max-width: 1200px) {
      .slider-section .wrapper {
        grid-template-columns: repeat(4, auto); } }
  .slider-section .slider {
    height: 76rem;
    width: 93.5rem;
    position: relative; }
    @media only screen and (max-width: 1200px) {
      .slider-section .slider {
        width: 90%;
        height: 50rem; } }
    .slider-section .slider:not(:last-child) {
      margin-right: 12.5rem; }
      @media only screen and (max-width: 1200px) {
        .slider-section .slider:not(:last-child) {
          margin-right: 5rem; } }
    .slider-section .slider img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .slider-section .slider__bg {
      position: absolute;
      top: 0%;
      right: 0%;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%; }
      @media only screen and (min-width: 1200px) {
        .slider-section .slider__bg {
          padding: 10rem 10rem 10rem 10rem; } }
    .slider-section .slider__top {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      z-index: 2;
      padding-right: 20rem;
      overflow: hidden; }
    .slider-section .slider__content {
      background-color: #fff;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      z-index: 3;
      width: 57rem;
      padding: 5rem; }
    .slider-section .slider__controls {
      padding: 2.5rem 0rem;
      position: relative;
      bottom: 0%;
      left: 13%;
      z-index: 5;
      width: 93.5rem;
      margin-top: -5rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.referenzen {
  padding: 10rem 0rem;
  background-color: #fff;
  width: 100%; }
  .referenzen .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%; }
  .referenzen__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem; }
  .referenzen__content {
    display: flex; }
  .referenzen__box {
    padding: 5rem;
    border: 0.1rem solid #2896DF;
    width: 50%;
    position: relative; }
    .referenzen__box:not(:last-child) {
      margin-right: 5rem; }
    .referenzen__box__info {
      position: absolute;
      left: 5rem;
      bottom: -5rem;
      padding: 2.5rem 0rem 0rem 2.5rem; }
      .referenzen__box__info::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: .5rem;
        background-color: #2896DF; }

.termin {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 6;
  background-color: rgba(0, 33, 75, 0.8);
  display: none;
  justify-content: center;
  align-items: center; }
  .termin__container {
    width: 56.5rem;
    background-color: #fff;
    padding: 7.5rem;
    position: relative;
    animation: termin .3s ease-in; }
  .termin .close {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #F8F8F8;
    font-size: 2.4rem;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .termin--open {
    display: flex; }

.newsletter {
  padding: 10rem 0rem;
  width: 100%;
  height: 80%;
  background-image: url(../../images/newslwtter-bg.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center; }
  .newsletter .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2; }
  .newsletter::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #00559f, rgba(0, 85, 159, 0.2)); }

#referenzen-slider {
  display: grid;
  grid-template-columns: repeat(2, auto);
  cursor: grab; }

.referenzen__box {
  height: auto; }
