@mixin full-absolute {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

@mixin heading-line {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 2rem;
    background-color: $light-blue;
}