//Colors
$white: #fff;
$grey: #F8F8F8;
$dark-grey: #3D3D3D;
$light-blue: #2896DF;
$dark-blue: #00559F;
$very-dark-blue: #00214B;
$black: #000;

//Media Queries
$large-devices: 1200px;
$medium-devices: 768px;
$small-devices: 480px;