.header {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 88;
    width: 100%;
    transition: all .3s ease-in-out;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &--fixed {
        background-color: $light-blue;
        position: fixed;
        //transform: translateY(-100%);
        transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    & .menu {
        background-color: $white;
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all .5s cubic-bezier(0.47, 0, 0.745, 0.715);

        &__line {
            background-color: $light-blue;
            height: .2rem;
            width: 2rem;
            transition: all .3s ease-in-out;

            &--top--open,
            &--mid--open,
            &--bottom--open {
                transition: all .3s ease-in-out;
            }

            &--top--open {
                transform: rotate(45deg) translateX(.2rem) translateY(.4rem);
            }

            &--mid--open {
                opacity: 0;
            }

            &--bottom--open {
                transform: rotate(-45deg) translateX(.5rem) translateY(-.8rem);
            }

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }

    & .social {
        transition: all .5s cubic-bezier(0.47, 0, 0.745, 0.715);
    }
}