.about {
    & .slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.7rem;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__img {
            height: 100%;
            width: 30%;

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__content {
            width: 70%;
            padding-left: 5rem;
        }
    }
}

.info {
    &__slider {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__bottom {
            background-color: $white;
            padding: 5rem 0rem;
            color: $dark-grey;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__left {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .buttons {
                    margin-right: 10rem;
                }
            }
        }

        &__img {
            width: 50%;
        }

        &__description {
            width: 50%;
            padding: 5rem;
            background-color: $grey;
            color: $dark-grey;

            & ul {
                margin-top: 5rem;
            }

            & li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                & svg {
                    margin-right: 1.2rem;
                }
            }
        }
    }
}