html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.loader {
    &--text {
        color: $white;
        font-size: 3.2rem;
        text-transform: capitalize;
        animation: loader 1s infinite ease;
    }
}

.social {
    & a {
        color: $white;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }
}

.social {
    background-color: rgba($white, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 10rem;
    text-decoration: none;

    & span {
        display: inline-block;
        padding-left: .5rem;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}

.hero {
    color: $white;

    &--heading {
        font-size: 8.4rem;
        margin-bottom: 4rem;
        font-weight: 300;
        position: relative;
        padding-left: 4rem;
        &::before {
            content: '';
            @include heading-line;
        }
    }

    &--p {
        font-size: 3.2rem;
        font-weight: lighter;
        margin-bottom: 4rem;
    }

    &--animation {
        opacity: 0;
        transform: translateY(-50px);
        transition: all 1s ease-in-out;
    }

}

.about {
    & p {
        line-height: 1.4;
        &:not(:last-child) {
            margin-bottom: 4.5rem;
        }
    }

    & .name {
        font-size: 2.8rem;
        font-weight: 700;
        color: $very-dark-blue;
        margin-bottom: 1.5rem;
    }

    & .title {
        color: $light-blue;
        text-transform: uppercase;
        margin-bottom: 3.6rem;
    }

    & .slider--text {
        font-size: 1.4rem;
        line-height: 1.7;
    }

    &__content {
        &--text {
            opacity: 0;
            transform: translateY(50px);
            transition: all .5s ease-in-out;
        }
    }
}

.map {
    &--text {
        opacity: 0;
        transform: translateY(50px);
        transition: all .5s ease-in-out;
    }
}

.info {
    color: $white;

    & h2 {
        line-height: 1.5;
    }

    &__slider--text {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

.description {
    & h5 {
        font-size: 2.4rem;
        font-weight: 500;
        color: $very-dark-blue;
        margin-bottom: 5rem;
    }

    & p {
        font-size: 1.4rem;
        line-height: 1.7;

        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }
    }
}

.text {
    &--small {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2;
    }
}

.referenzen {
    &__box__info {
        & .name {
            color: $dark-blue;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6rem;
            text-transform: capitalize;
            margin-bottom: .5rem;
        }

        & .city {
            color: $light-blue;
            font-size: 1.4rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

.newsletter {
    color: $white;

    & h1 {
        font-size: 8.4rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 5rem;
        position: relative;
        padding-left: 4rem;

        &::before {
            content: '';
            @include heading-line;
        }
    }

    & p {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }

    & small {
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &--animated--text {
        opacity: 0;
        transform: translateY(35px);
        transition: all .15s ease-in-out;
    }
}

.mail {
    color: $white;
    display: inline-block;
    text-decoration: none;
}

.footer {
    &__bottom {
        color: $dark-grey;;
        & small,
        & p,
        & a {
            color: $dark-grey;
        }

        & p {
            text-transform: capitalize;

            &:hover a {
                color: $white;
            }

            & a {
                text-decoration: none;
                transition: all .3s ease;
            }
        }
        
    }

    &__info--text {
        color: $white;

        & svg {
            margin-right: .8rem;
        }
    }

    &__text {
        color: $white;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3;

        & p {
            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
        }
    }
}