.hero {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 36% 100%, 0 95%);

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & .video {
        @include full-absolute;
        object-fit: cover;
        z-index: -1;
    }

    &::after {
        content: '';
        @include full-absolute;
        background-image: linear-gradient(to top right, rgba($dark-blue, 1), rgba($dark-blue, 0));
        z-index: -1;

    }

    & .wrapper {
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    & .large-logo {
        position: absolute;
        top: 0%;
        right: 0%;
        user-select: none;
        z-index: 1;
    }
}

.about {
    position: relative;
    z-index: 3;
    margin-top: -5.5rem;

    & .atr,
    & .abr,
    & .alc {
        position: absolute;
    }

    & .atr {
        top: 5rem;
        right: 0rem;
        height: 27.8rem;
        width: 20rem;
    }

    & .abr {
        top: 90rem;
        right: 6.5rem;
        height: 37rem;
        width: 37rem;
        //z-index: 1;
    }

    & .alc {
        top: 50%;
        left: 0%;
        width: 20rem;
        height: 15rem;
        z-index: 3;
    }

    &__bg {
        background-color: $white;
    }

    &__content {
        position: relative;
        padding-left: 2rem;
        &::before {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: .1rem;
            background-color: $light-blue;
        }
    }

    &--img {
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__img {
        margin-top: -10rem;
        z-index: -1;
        position: relative;
    }
}

.map {
    margin-top: -10rem;
    padding-top: 20rem;
    position: relative;
    overflow: hidden;
    background-color: $white;

    &__img {
        position: absolute;
        top: -35%;
        right: -25%;
        z-index: 1;
        transform: translateX(50%);
    }
}

.info {
    background-color: $white;
    position: relative;
    overflow: hidden;

    & .iml,
    & .imr {
        position: absolute;
        top: 40%;
        z-index: 6;
    }

    & .iml {
        left: -13%;
        height: 15rem;
        width: 37rem;
    }

    & .imr {
        right: -10%;
        height: 37rem;
        width: 37rem;
    }

    &--list {
        height: 100%;
    }

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    & li {
        list-style: none;
    }

    &--list--item {
        opacity: 0;
        transform: translateY(-25px);
        transition: all .3s ease-in-out;
    }
}

.slider-section {
    background-color: $grey;
    padding: 10rem 0rem;

    & .wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        cursor: grab;
    }

    & .slider {
        height: 76rem;
        width: 93.5rem;
        position: relative;
        
        &:not(:last-child) {
            margin-right: 12.5rem;
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &__bg {
            position: absolute;
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            padding: 0rem 10rem 0rem 10rem;
        }

        &__top {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            z-index: 2;
            padding-right: 20rem;
            overflow: hidden;
        }

        &:hover .slider__top {
            z-index: 4;
            & img {
                transform: scale(1.03);
            }
        }

        &__content {
            background-color: $white;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            z-index: 3;
            width: 57rem;
            padding: 5rem;
        }

        &__controls {
            background-color: pink;
            padding: 2.5rem 0rem;
            position: relative;
            bottom: 0%;
            left: 0%;
            z-index: 5;
            width: 100%;
        }
    }

}

.referenzen {
    padding: 10rem 0rem;
    background-color: $white;
    width: 100%;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 5rem;
    }

    &__content {
        display: flex;
    }

    &__box {
        padding: 5rem;
        border: .1rem solid $light-blue;
        width: 50%;
        position: relative;

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &__info {
            position: absolute;
            left: 5rem;
            bottom: -5rem;
            padding: 2.5rem 0rem 0rem 2.5rem;

            &::before {
                content: '';
                position: absolute;
                top: 0%;
                left: 0%;
                height: 100%;
                width: .5rem;
                background-color: $light-blue;
            }
        }
    }
}

.termin {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 6;
    background-color: rgba($very-dark-blue, .8);
    display: none;
    justify-content: center;
    align-items: center;

    &__container {
        width: 56.5rem;
        height: 80%;
        background-color: $white;
        padding: 2.5rem 7.5rem;
        position: relative;
        animation: termin .3s ease-in;
    }

    & .close {
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: $grey;
        font-size: 2.4rem;
        cursor: pointer;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--open {
        display: flex;
    }
}

.newsletter {
    padding: 10rem 0rem;
    width: 100%;
    height: 80%;
    background-image: url(../../images/newslwtter-bg.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, rgba($dark-blue, 1), rgba($dark-blue, .2));
    }
}

#referenzen-slider {
    display: grid;
    grid-template-columns: repeat(2, auto);
    cursor: grab;
}

.referenzen__box {
    height: auto;
}
